#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
}

.group-two {
  padding-top: 103px;
}

.group-three, .group-four, .group-five, .group-six, .group-seven, .group-eight, .group-nine, .group-ten, .group-eleven, .group-twelve {
  padding-top: 309px;
}

.group-thirteen, .group-fourteen, .group-fifteen, .group-sixteen, .group-seventeen {
  padding-top: 103px;
}

.group-eighteen {
  padding-right: 51.5px;
}

.f-block {
  padding-top: 25.75px;
}
